.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 120px;
  background-color: gray;
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add a transition for a smoother effect */
}

/* Apply a box shadow on hover */
.skill-card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Set the desired shadow values */
  transform: scale(1.5); /* Set the desired scaling factor */
}

.skill-card img {
  max-width: 50%;
  height: auto;
  display: block; /* Remove any extra space below the image */
  margin: auto; /* Center the image within its container */
  background-color: inherit; /* Set the background color to transparent */
}

@media only screen and (max-width: 600px) {
  .skill-card {
    width: 100px;
    height: 120px;

    border-radius: 5px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add a transition for a smoother effect */
  }
}
